<!-- Page Preloder -->
<!-- <div id="preloder">
  <div class="loader"></div>
</div> -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    tinhphamqtkd@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +0978890722
                </div>
            </div>
            <div class="ht-right">

                <a *ngIf="!isLoggedIn" routerLink="/login" class="login-panel"><i class="fa fa-user"></i>Login</a>


                <div *ngIf="isLoggedIn" class="dropdown login-panel">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user"></i>{{lastName}}<b
                            class="caret"></b></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="signOut()">Log out</a>
                        <a class="dropdown-item" href="javascript:void(0)"
                            (click)="goToTransactionHistory()">Transaction History</a>
                        <a class="dropdown-item" href="javascript:void(0)" *ngIf="hasAdminRole"
                            routerLink="/admin/dash-board">Admin Page</a>

                    </div>

                </div>
                <div class="top-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="#"><i class="ti-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <!-- <button type="button" class="category-btn">All Categories</button> -->

                        <div class="input-group">
                            <input class="inputMe" type="text" (keyup)="search($event)" [(ngModel)]="keyword"
                                placeholder="What do you need?">
                            <button type="button" (click)="getProductsSearching()"><i class="ti-search"></i></button>
                            <div class="menuResult">
                                <ul class="searchProductUl" *ngIf="ListProductsSearching.length > 0">
                                    <a href="javascript:void(0)">
                                        <li *ngFor="let pro of ListProductsSearching;trackBy: trackByFn"
                                            (click)="viewProduct(pro)">
                                            <div class="searchImage">
                                                <img src="http://localhost:4200{{pro.productAvatarEntities[1].imageLink}}"
                                                    alt="">
                                            </div>
                                            <div class="text-searchProduct">{{pro.productName}}</div>
                                        </li>
                                    </a>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="javascript:void(0)" (click)="getLikeList()">
                                <i class="icon_heart_alt"></i>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                                <span>{{cartItems.length}}</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                            <ng-container *ngIf="cartItems.length !== 0">
                                                <tr *ngFor="let item of cartItems; index as i">
                                                    <app-cart-item [cartItem]="item" (deleteEvent)="deleteItem($event)">
                                                    </app-cart-item>
                                                </tr>
                                            </ng-container>

                                            <ng-container *ngIf="cartItems.length === 0">
                                                <div class="alert alert-info">Your Cart is Empty.</div>
                                            </ng-container>


                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total" *ngIf="cartItems.length !== 0">
                                    <span>total:</span>
                                    <h5>${{cartTotal | number:'1.2-3'}}</h5>
                                </div>
                                <div class="select-button" *ngIf="cartItems.length !== 0">
                                    <a href="javascript:void(0)" class="primary-btn view-card"
                                        routerLink="/shopping-cart">VIEW CARD</a>
                                    <a href="javascript:void(0)" class="primary-btn checkout-btn"
                                        routerLink="/check-out">CHECK OUT</a>
                                </div>

                                <div class="select-button" *ngIf="cartItems.length === 0">
                                    <a href="javascript:void(0)" class="primary-btn checkout-btn"
                                        routerLink="/products/women">SHOPPING NOW</a>
                                </div>
                            </div>
                        </li>
                        <ng-container *ngIf="cartItems.length !== 0">
                            <li class="cart-price">${{cartTotal | number:'1.2-3'}}</li>
                        </ng-container>

                        <ng-container *ngIf="cartItems.length === 0">
                            <li class="cart-price">$0.00
                            <li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart" style="min-width: 280px; ">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>{{category}}</span>
                    <ul class="depart-hover">
                        <li [class.active]="changeCategory('All Categories')" (click)="chooseCategory('All Categories')"><a href="javascript:void(0)">All Categories</a></li>
                        <li [class.active]="changeCategory('T-shirts')" (click)="chooseCategory('T-shirts')"><a href="javascript:void(0)">T-shirts</a></li>
                        <li [class.active]="changeCategory('Jeans')" (click)="chooseCategory('Jeans')"><a href="javascript:void(0)">Jeans</a></li>
                        <li [class.active]="changeCategory('Underwear')" (click)="chooseCategory('Underwear')"><a href="javascript:void(0)">Underwear</a></li>
                        <li [class.active]="changeCategory('Jackets & coats')" (click)="chooseCategory('Jackets & coats')"><a href="javascript:void(0)">Jackets & coats</a></li>
                        <li [class.active]="changeCategory('Accessories')" (click)="chooseCategory('Accessories')"><a href="javascript:void(0)">Accessories</a></li>
                        <li [class.active]="changeCategory('New Season')" (click)="chooseCategory('New Season')"><a href="javascript:void(0)">New Season</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <!-- <ul>
                    <li [class.activeAAA]="isCurrentRouteSType('home')">
                        <a href="javascript:void(0)" (click)="goToPageSType('home')">Home</a>
                    </li>
                    <li [class.activeAAA]="isCurrentRouteSType('women')">
                        <a href="javascript:void(0)" (click)="goToPageSType('women')">Women</a>
                    </li>
                    <li [class.activeAAA]="isCurrentRouteSType('men')">
                        <a href="javascript:void(0)" (click)="goToPageSType('men')">Men</a>
                    </li>
                    <li [class.activeAAA]="isCurrentRouteSType('girl')">
                        <a href="javascript:void(0)" (click)="goToPageSType('girl')">Girl</a>
                    </li>
                    <li [class.activeAAA]="isCurrentRouteSType('boy')">
                        <a href="javascript:void(0)" (click)="goToPageSType('boy')">Boy</a>
                    </li>
                    <li [class.activeAAA]="isCurrentRouteSType('about us')">
                        <a href="javascript:void(0)">About Us</a>
                    </li>

                </ul> -->
                <ul>
                    <li><a routerLink="/home" routerLinkActive="activeAAA">Home</a></li>
                    <li><a href="javascript:void(0)" routerLink="/products/women" routerLinkActive="activeAAA" >WOMEN</a></li>
                    <li><a href="javascript:void(0)" routerLink="/products/men" routerLinkActive="activeAAA">Men</a>

                    </li>
                    <li><a href="javascript:void(0)" routerLink="/products/girl" routerLinkActive="activeAAA">Girl</a>

                    </li>
                    <li><a href="javascript:void(0)" routerLink="/products/boy" routerLinkActive="activeAAA">Boy</a>

                    </li>
                    <li><a href="javascript:void(0)">About Us</a></li>

                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->