
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="assets/img/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Bag,kids</span>
                        <h1>Black friday</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore</p>
                        <a href="#" class="primary-btn">Shop Now</a>					
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="assets/img/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Bag,kids</span>
                        <h1>Black friday</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore</p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="assets/img/banner-1.jpg" alt="">
                    <div class="inner-text">
                        <a href="javascript:void(0)" routerLink="/products/men"><h4>Men</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="assets/img/banner-2.jpg" alt="">
                    <div class="inner-text">
                        <a href="javascript:void(0)" routerLink="/products/women"><h4>Women</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="assets/img/banner-3.jpg" alt="">
                    <div class="inner-text">
                        <a href="javascript:void(0)" routerLink="/products/girl"><h4>Kid</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->

<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="assets/img/products/women-large.jpg">
                    <h2>Women’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li [class.active]="isClothingsGirl"><a (click)="changeActiveGirl('girlClothings')">Clothings</a></li>
                        <li [class.active]="isSportsGirl"><a (click)="changeActiveGirl('girlSports')">Sports</a></li>
                        <li [class.active]="isShoesGirl"><a (click)="changeActiveGirl('girlShoes')">Shoes</a></li>
                        <li [class.active]="isInspirationGirl"><a (click)="changeActiveGirl('girlInspiration')">Inspiration</a></li>
                    </ul>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let image of productImagesGirl">
                        <ng-template carouselSlide>
                            <a href="javascript:void(0)" (click)="goToProduct(image)">
                                <img style="width: 95%;"
                                    [src]="sanitize(image)">
                            </a>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="assets/img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                    consectetur adipisicing elit </p>
                <div class="product-price">
                    $35.00
                    <span>/ HanBag</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="javascript:void(0)" class="primary-btn" routerLink="/products/women">Shop Now</a>
        </div>
    </div>
</section>
<!-- Deal Of The Week Section End -->

<!-- Man Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <li [class.active]="isClothingsMen"><a (click) = "changeActiveMen('menClothings')">Clothings</a></li>
                        <li [class.active]="isAccessoriesMen"><a (click) = "changeActiveMen('menAccessories')">Accessories</a></li>
                        <li [class.active]="isInspirationMen"><a (click) = "changeActiveMen('manInspiration')">Inspiration</a></li>
                        <li [class.active]="isShoesMen"><a (click) = "changeActiveMen('menShoes')">Shoes</a></li>
                    </ul>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let image of productImagesMen">
                        <ng-template carouselSlide>
                            <a href="javascript:void(0)" (click)="goToProduct(image)">
                                <img style="width: 95%;"
                                    [src]="sanitize(image)">
                            </a>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="assets/img/products/man-large.jpg">
                    <h2>Men’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section End -->





