<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-menu></app-menu>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <lib-ngx-image-zoom [thumbImage]=checkBigImage [fullImage]=checkBigImage [magnification]="1"
                                [zoomMode]="'hover'" [enableScrollZoom]="true">
                            </lib-ngx-image-zoom>

                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>

                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let image of productImages">
                                <ng-template carouselSlide>
                                    <a href="javascript:void(0)" (click)="changeViewProduct(image)">
                                        <img style="width: 95%;"
                                            [class.activeProductInfo]="checkSmallImageChossing(image)"
                                            [src]="sanitize(image)">
                                    </a>

                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>


                    </div>


                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <h3>{{productInfo.productName}}</h3>
                                <i *ngIf="userId === 0 || !isLiked" class="far fa-heart float-right"
                                    (click)="likeProduct()"></i>
                                <i *ngIf="userId !== 0 && isLiked" class="fas fa-heart float-right" style="color: #f0005c"
                                    (click)="unLikeProduct()"></i>
                            </div>

                            <div class="pd-desc">
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor
                                    sit amet, consectetur adipisicing elit, sed do mod tempor</p> -->
                                <!-- <h4>$495.00 <span>629.99</span></h4> -->
                                <h4>${{productInfo.unitPrice}}</h4>
                            </div>


                            <!--SIZE PRODUCT-->
                            <div class="pd-color">
                                <h6>Color:</h6>
                                <div class="pd-color-choose">
                                    <div class="colorProductPicker" *ngFor="let color of productInfo.colors">
                                        <a href="javascript:void(0)" (click)="chooseColorImage(color)">
                                            <img title="{{color.colorName}}" [src]=sanitize(color.colorLink)
                                                [class.chooseColorStyle]="checkColorChoosing(color.colorLink)">
                                        </a>

                                    </div>

                                </div>
                            </div>
                            <!--SIZE PRODUCT-->
                            <div class="pd-size-choose">
                                <div class="sc-item" *ngFor="let size of productInfo.size">
                                    <!-- <input type="radio" id="sm-size"> -->
                                    <label (click)="chooseSize(size)"
                                        [class.chooseSizeProduct]="checkSizeChoosing(size.id)"
                                        for="sm-size">{{size.sizeType}}</label>
                                </div>

                            </div>
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="dec qtybtn" (click)="decreaseNumPro()">-</span>
                                    <input #numProduct type="text" [(ngModel)] = "qty">
                                    <span class="inc qtybtn" (click)="increaseNumPro()">+</span>
                                </div>
                                <a href="javascript:void(0)" (click)="addToCart()" class="primary-btn pd-cart">Add To Cart</a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                            </li>
                            <li>
                                <a (click)="tabComment()" data-toggle="tab" href="#tab-3" role="tab">Customer
                                    Reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-7" [innerHTML]="productInfo.description">
                                        </div>
                                        <div class="col-lg-5">
                                            <img [src]=sanitize(productImages[productImages.length-1]) alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Customer Rating</td>
                                            <td>
                                                <div class="pd-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(5)</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Price</td>
                                            <td>
                                                <div class="p-price">${{productInfo.unitPrice}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Add To Cart</td>
                                            <td>
                                                <div class="cart-add">+ add to cart</div>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="p-catagory">Availability</td>
                                            <td>
                                                <div class="p-stock">22 in stock</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Weight</td>
                                            <td>
                                                <div class="p-weight">1,3kg</div>
                                            </td>
                                        </tr> -->
                                        <tr>
                                            <td class="p-catagory">Size</td>
                                            <td>

                                                <span style="font-weight: bold;" *ngFor="let size of productInfo.size">
                                                    {{size.sizeType}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Color</td>
                                            <td>
                                                <span class="colorProductPicker"
                                                    *ngFor="let color of productInfo.colors">
                                                    <img title="{{color.colorName}}"
                                                        src="http://localhost:4200{{color.colorLink}}">
                                                </span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <div class="customer-review-option">
                                    <h4>{{productComments.length}} Comments</h4>
                                    <div class="comment-option" *ngIf="productComments.length > 0">
                                        <div class="co-item" *ngFor="let item of productComments">
                                            <!-- <div class="avatar-pic">
                                                <img src="assets/img/product-single/avatar-1.png" alt="">
                                            </div> -->
                                            <div class="avatar-text">

                                                <h5>{{item.createdBy}}<span>{{item.createdDate}}</span></h5>
                                                <div class="at-reply">{{item.commentContent}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="leave-comment">
                                        <h4>Leave A Comment</h4>
                                        <form action="#" class="comment-form">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <textarea placeholder="Messages" #textComment></textarea>
                                                    <button (click)="comment()" type="submit" class="site-btn">Send
                                                        message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Related Products Section End -->
<div class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="assets/img/products/women-1.jpg" alt="">
                        <div class="sale">Sale</div>
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $14.00
                            <span>$35.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="assets/img/products/women-2.jpg" alt="">
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Guangzhou sweater</h5>
                        </a>
                        <div class="product-price">
                            $13.00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="assets/img/products/women-3.jpg" alt="">
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="assets/img/products/women-4.jpg" alt="">
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Converse Shoes</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>