<div class="product-item">
    <div class="pi-pic">
        <img src="http://localhost:4200{{bigImage}}" alt="">
        <div class="sale pp-sale" *ngIf="productItem.discount > 0">Sale</div>
        <div class="icon">
            <i *ngIf="id === null || !isLiked" class="far fa-heart float-right" (click) = "likeProduct()"></i>
            <i *ngIf="id !== null && isLiked" class="fas fa-heart float-right" (click) = "unLikeProduct()"></i>
        </div>
        <ul>
            <li class="w-icon active"><a href="javascript:void(0)" (click)="addProductToCart()"><i
                        class="icon_bag_alt"></i></a></li>
            <li class="quick-view"><a href="javascript:void(0)" (click)="moveToProductInfo()">+ Quick View</a></li>
            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
        </ul>
    </div>  
    <div class="pi-text">
        <div class="colorProductPicker" *ngFor="let color of productItem.productAvatarEntities; let i = index">
            <ng-container *ngIf="i % 2 === 0" >
                <a href="javascript:void(0)">
                    <img (mouseover)="changeBigImage(productItem.productAvatarEntities[i + 1].imageLink)"  src="http://localhost:4200{{productItem.productAvatarEntities[i].imageLink}}">
                </a>
            </ng-container>
        </div>
        <a href="#">
            <h5>{{productItem.productName}}</h5>
        </a>
        <!--                                        <div class="product-price" *ngIf="productItem.discount > 0">-->
        <!--                                            $14.00-->
        <!--                                            <span>$35.00</span>-->
        <!--                                        </div>-->
        <div class="product-price" *ngIf="productItem.discount === 0">
            {{productItem.unitPrice | currency: "USD"}}

        </div>
    </div>
</div>